{{!-- {{> navbar}} --}}
<h1>Beers!</h1>
{{#each beers}}
{{!-- In this case, you should be using the beerPartial as well. Partials exist so that we don't have to duplicate code, which makes this the perfect example: applying beerPartial to beers.hbs and random.hbs --}}
{{> beerPartial }}
{{!-- <div id="beers-cards">
    <img src="{{this.image_url}}" id="beer-card-img" alt="{{this.name}}image">
    <h2> {{this.name}}</h2>
    <h3>{{this.tagline}}</h3>
    <p id="beers-description">{{this.description}}</p>

</div> --}}
{{/each}}

